#Main0Grid {
  position: relative;
  float: left;
  height: 100vh;
  width: 3vw;
}

#Main1Grid {
  float: left;
  height: 100vh;
  width: 17vw;
}

#Main2Grid {
  float: right;
  height: 100vh; 
  width: 80vw;
}

/* body:-moz-full-screen #Main0Grid,
body:-webkit-full-screen #Main0Grid,
body:-ms-fullscreen #Main0Grid,
body:fullscreen #Main0Grid {
  width: 10vw;
} */

.App {
  text-align: center;
  cursor: default;
}

.App * {
  overflow: hidden;
}

.App > #UpLoadFileInput {
  visibility: hidden;
}

