.RAlertBlock {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 80vw;
    height: 100vh;
    background-color: rgba(44, 49, 58, 0.8);
}

.RAlertBlock[isdisplay='0'] {
    visibility: hidden;
}
.RAlertBlock > .Input {
    font-size: 1vw;
    padding: 0 0 0 1vw;
    border: 0.05vw solid rgba(255, 255, 255, 0.08);
    outline-style: none;
    color: rgb(130, 130, 130, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    /* display: block; */
    width: 15vw;
    height: 2vw;
    position: relative;
    top: 40vh;
}
.RAlertBlock > .Button {
    position: relative;
    top: 43vh;
    color: rgb(230, 230, 230);
}